@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$color-primary: #0096dc;
$color-gray: #777777;
$color-light-gray: #f4f4f4;
$color-light-gray-border: #cccccc;
$color-hover-blue: rgba(2, 31, 159, 0.5);

@mixin hover-effect {
  transition: transform 0.2s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.app--column {
  display: flex;
}

.app--flex {
  display: flex;
  gap: 10px;
}

//inner dashboard
.inner--main {
  min-height: 100vh;
  border-right: 1px solid $color-light-gray-border;
  padding-right: 10px;
}

.inner--title {
  padding-top: 15px;
  padding-left: 11px;
  font-weight: 600;
  margin: 0;
}

.inner--location {
  font-size: 0.8rem;
  padding-left: 12px;
}

.inner--input {
  width: 185px;
  background-color: $color-light-gray;
  background-image: url(../assets/search.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position-x: 5px;
  border: none;
  border-radius: 5px;
  color: #777777;
  padding: 5px;
  margin-left: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  &:hover {
    border: 1px solid $color-primary;
    cursor: pointer;
  }

  &:focus {
    outline-color: $color-primary;
    border: none;
    cursor: auto;
  }
}
.inner--selections {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  color: $color-gray;
}

.inner-selections--container {
  display: flex;
  width: 200px;
  align-items: center;
  padding-left: 10px;
  &:hover {
    cursor: pointer;
    color: $color-hover-blue;
  }
}

.inner--attendee-bg {
  background-color: rgba(16, 92, 244, 0.2);
  color: $color-primary;
  border-radius: 10px;
}

.inner--attendee-circle {
  background-color: $color-primary;
}

.hamburger {
  display: none;
}

//attendee dropdown
.attendees--items:hover {
  cursor: pointer;
  color: $color-hover-blue;
}

.attendees--container {
  margin-top: -5px;
  margin-left: 46px;
}

//outer dasboard
.outer--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  border-right: 1px solid $color-light-gray-border;
}

.outer--sub {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 25px;
  justify-self: center;
}

.outer--profile {
  padding-bottom: 15px;
  @include hover-effect;
}

.outer--icon {
  padding-left: 15px;
  padding-right: 15px;
  width: 32px;
  height: 32px;
  @include hover-effect;
}

// main content
.content--container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.content--subheader-icon {
  width: 35px;
  height: 35px;
}

.content--subheader {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 700;
  max-width: 75vw;
  border-top: 1px solid $color-light-gray-border;
  gap: 15px;
}

.content-header--container {
  margin-bottom: 20px;
}

.content-header--header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-header--header p {
  margin: 5px;
}

.content-header--header h1 {
  margin-bottom: 8px;
  margin-left: 3px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.content-header--icon {
  width: 80px;
  height: 80px;
  &:hover {
    cursor: pointer;
  }
}

.content-header--footer {
  width: fit-content;
}

button {
  height: fit-content;
  margin-left: auto;
  background-color: $color-primary;
  color: white;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  font-weight: 700;
  border: none;
  @include hover-effect;
}

//step one
.step-one--containers {
  max-width: 200px;
}

.step-one--step {
  margin-bottom: 5px;
}

.step-one--content {
  border: 1px solid $color-light-gray-border;
  border-radius: 5px;
  display: flex;
  padding: 10px 20px;
  gap: 50px;
  &:hover {
    cursor: pointer;
  }
}

// step two
.step-two--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.step-two--step {
  margin-top: 20px;
  width: 300px;
  margin-bottom: 0;
}

//step three
.step-three--container {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 25px;
}

.step-three--step {
  margin-top: 20px;
  width: 300px;
  margin: 0;
}

//blocks
.blocks-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 10px;
}

.blocks--icon {
  width: 20px;
  height: 20px;
}

.blocks--block {
  border: 1px solid $color-light-gray-border;
  padding: 20px 40px 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  @include hover-effect;
}

.blocks--add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 20px;
}

.blocks--title {
  display: flex;
  padding-bottom: 0px;
  align-items: center;
  gap: 10px;
}

//media
@media (max-width: 920px) {
  .blocks-container {
    grid-template-columns: (1fr);
  }

  .step-one--content {
    padding: 10px;
    gap: 5px;
  }

  .content-header--icon {
    display: none;
  }

  .content-header--header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  button {
    margin-left: 0;
  }
}

@media (max-width: 850px) {
  .step-one--content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .outer--main {
    display: none;
  }
}

@media (max-width: 650px) {
  .app--column {
    display: flex;
    flex-direction: column;
  }

  .outer--main {
    display: none;
  }

  .inner--title {
    font-size: 1.3rem;
    padding-top: 0;
    border-bottom: $color-primary 5px double;
  }

  .inner--main {
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    border: none;
  }

  .inner-selections--container {
    display: none;
    padding-bottom: 5px;
    font-size: 0.1rem;
    background-color: white;
    border-radius: 0;
    border-bottom: 2px solid $color-light-gray-border;
  }

  .inner--selections {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .inner--location {
    font-size: 0.9rem;
    padding-right: 2px;
  }

  .inner--input {
    width: 300px;
    font-size: 1.1rem;
    background-size: 15px 15px;
    background-position-x: 8px;
    padding: 10px;
  }

  .hamburger {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    @include hover-effect;
  }

  .attendees--container {
    display: none;
  }

  .content--container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .content--subheader-icon {
    width: 30px;
    height: 30px;
  }

  .content--subheader {
    max-width: 800px;
  }

  .content-header--icon {
    display: none;
  }

  .content-header--header {
    margin-top: -20px;
  }

  .content-header--footer {
    width: 70%;
  }

  button {
    margin-right: auto;
  }

  .step-one--content {
    flex-direction: row;
    align-items: flex-start;
  }

  .blocks--block {
    padding: 10px 30px 10px;
  }

  .blocks--add {
    padding: 10px 30px 10px;
  }
}

@media (max-width: 500px) {
  .step-one--content {
    flex-direction: column;
    align-items: center;
  }
}
